.prodigyLog {
  overflow: auto !important;
  background: #171717;
  border-radius: 5px;
  color: white;
  font-family: "SFMono-Regular", Monaco, Menlo, Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 0;
  white-space: pre;
}

.searchMatch {
  background-color: #ffff00;
  color: #171717;
}
