.term-fg1 { } /* don't bold beccause it looks weird */
.term-fg2 { color: #838887; } /* faint (decreased intensity) - same as gray really */
.term-fg3 { font-style: italic; } /* italic */
.term-fg4 { text-decoration: underline; } /* underline */
.term-fg5 { animation: blink-animation 1s steps(3, start) infinite; } /* blink */
.term-fg9 { text-decoration: line-through; } /* crossed-out */

.term-fg30 { color: #666666; } /* black (but we can't use black, so a diff color) */
.term-fg31 { color: #ff7070; } /* red */
.term-fg32 { color: #b0f986; } /* green */
.term-fg33 { color: #c6c502; } /* yellow */
.term-fg34 { color: #8db7e0; } /* blue */
.term-fg35 { color: #f271fb; } /* magenta */
.term-fg36 { color: #6bf7ff; } /* cyan */

/* high intense colors */
.term-fgi1 { color: #5ef765; }
.term-fgi90 { color: #838887; } /* grey */
.term-fgi91 { color: #ff3333; } /* red */
.term-fgi92 { color: #00FF00; } /* green */
.term-fgi93 { color: #fffc67; } /* yellow */
.term-fgi94 { color: #6871ff; } /* blue */
.term-fgi95 { color: #ff76ff; } /* magenta */
.term-fgi96 { color: #60fcff; } /* cyan */

/* background colors */
.term-bg40 { background: #676767; } /* grey */
.term-bg41 { background: #ff4343; } /* red */
.term-bg42 { background: #99ff5f; } /* green */