.lazyLog {
    overflow: auto !important;
    font-family: "Monaco", monospace;
    font-size: 12px;
    margin: 0;
    white-space: pre;
    background-color: #222222;
    color: #ffffff;
    font-weight: 400;
    will-change: initial;
    outline: none;
}

.searchMatch {
    background-color: #ffff00;
    color: #222222;
}

.searchMatchHighlighted {
    background-color: #ff10f0;
    color: #222222;
}
