.lineNumber {
  display: inline-block;
  width: 40px;
  color: #545454;
  user-select: none;
  text-align: right;
  min-width: 40px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 10px 0 18px;
}

.lineNumber:hover {
  color: white;
}

.lineNumber::before {
  content: attr(id);
}

.lineNumberHighlight {
  composes: lineNumber;
  color: #ffffff;
}
