html, body {
  font-family: "Monaco", "Courier New", Courier, monospace;
  font-size: 12px;
  line-height: 1.45;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #222222;
  color: #d6d6d6;
  font-weight: 400;
}

h1 {
  color: #eeeeee;
}

i .spinner {
  fill: white;
  vertical-align: middle;
}

h1.loading {
  margin: 50px;
  vertical-align: middle;
}

.error h1 i {
  fill: #ffffb6;
}

.ansi .bold {
  font-weight: bold;
}
.ansi .italic {
  font-style: italic;
}
.ansi .underline {
  text-decoration: underline;
}
.ansi .black {
  color: #4e4e4e;
}
.ansi .black.bold {
  color: #7c7c7c;
}
.ansi .red {
  color: #ff6c60;
}
.ansi .red.bold {
  color: #ffb6b0;
}
.ansi .green {
  color: #00aa00;
}
.ansi .green.bold {
  color: #ceffab;
}
.ansi .yellow {
  color: #ffffb6;
}
.ansi .yellow.bold {
  color: #ffffcb;
}
.ansi .blue {
  color: #96cbfe;
}
.ansi .blue.bold {
  color: #b5dcfe;
}
.ansi .magenta {
  color: #ff73fd;
}
.ansi .magenta.bold {
  color: #ff9cfe;
}
.ansi .cyan {
  color: #00aaaa;
}
.ansi .cyan.bold {
  color: #55ffff;
}
.ansi .white {
  color: #eeeeee;
}
.ansi .white.bold {
  color: #ffffff;
}
.ansi .grey {
  color: #969696;
}
.ansi .bg-black {
  background-color: #4e4e4e;
}
.ansi .bg-red {
  background-color: #ff6c60;
}
.ansi .bg-green {
  background-color: #00aa00;
}
.ansi .bg-yellow {
  background-color: #ffffb6;
}
.ansi .bg-blue {
  background-color: #96cbfe;
}
.ansi .bg-magenta {
  background-color: #ff73fd;
}
.ansi .bg-cyan {
  background-color: #00aaaa;
}
.ansi .bg-white {
  background-color: #eeeeee;
}

a {
  color: #666;
  text-decoration: none;
}

i {
  font-style: normal;
}

#toolbar {
  position: fixed;
  top: 20px;
  right: 20px;
}
#toolbar menu {
  display: none;
  text-align: left;
  width: 160px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #4d5e65;
  color: white;
  margin: 0;
  padding: 15px;
}
#toolbar menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toolbar .cog-wrapper {
  height: 30px;
  width: 30px;
  background-color: #9d9d9d;
  border: 1px solid #fff;
  border-radius: 16px;
  cursor: pointer;
  text-align: right;
}
#toolbar .cog-wrapper header {
  display: none;
  color: #f1f1f1;
  margin-top: 6px;
  margin-right: 11px;
}
#toolbar .cog-wrapper:hover {
  width: 100px;
}
#toolbar .cog-wrapper:hover header {
  display: block;
}
#toolbar .cog-wrapper .cog {
  fill: #3d3d3d;
  position: absolute;
  left: 6px;
  top: 6px;
}
#toolbar.open .cog-wrapper {
  display: none;
}
#toolbar.open menu {
  display: block;
}

#log {
  font-family: "Monaco", "Courier New", Courier, monospace;
  position: relative;
  clear: left;
  min-height: 12px;
  margin: 0;
  padding-bottom: 15px;
  line-height: 19px;
  white-space: pre;
  word-wrap: break-word;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
#log.wrap-lines {
  white-space: pre-wrap;
}
#log.show-line-numbers p a {
  display: inline-block;
}
#log p {
  position: relative;
  padding: 0 15px 0 55px;
  margin: 0;
  min-height: 19px;
}
#log p.highlight {
  background-color: #666;
}
#log p.highlight a {
  color: white;
}
#log p:hover {
  background-color: #444 !important;
}
#log p a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  text-align: right;
  min-width: 40px;
  margin-left: -33px;
  cursor: pointer;
  text-decoration: none;
  padding-right: 1em;
}

#log-container {
  position: relative;
  height: calc(100% - 35px);
  margin-top: 35px;
  padding-top: 15px;
}

.display {
  display: block !important;
}

.display-inline {
  display: inline-block !important;
}

.hidden {
  display: none;
}
